* {
  box-sizing: border-box;
}

.container {
  background-color: #f0f0f0;
  padding: 8px;
}

.content-main {
  width: 100%;
  background-color: #fff;
  padding: 16px;
  border: 2px solid;
}

h1, a {
  text-decoration: underline;
}
